* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html,body{
  height: 100%;
}
html{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  background-color: #fdb813;
  background-image: linear-gradient(315deg, #fdb813 0%, #788cb6 74%); 

}

body{
  display: grid;
  /* place-items: center; */
 height: 10%;
 justify-content: center center;
}

#sapphirechat-container{
  display: grid;
  grid: 'search-bar-container chat-title-container' 71px
        'conversation-list-container chat-message-list' 1fr
        'new-message-container chat-form-container' 78px
        /275px 1fr ;
  min-width: 800px;
  max-width: 1000px;
  max-height: 800px;
  width: 100%;
  height: 95vh;
  border-radius: 30px;
  background: #fff;
  margin-left: 11rem;
  margin-bottom: 10rem;
  position: relative;
  

}
#search-bar-container,#conversation-list-container
,#new-message-container{
  background: #ffc857;
 
}

#search-bar-container{
  display: grid;
  align-items: center;
  padding: 0 20px;
  grid-area: search-bar-container;
  border-radius: 10px 0 0 0;
  box-shadow: 0 3px 3px -1px rgba(0,0,0,0.75);
  z-index: 1;
}
#search-bar-container input{
  color: #eee;
  outline: none;
  font-weight: bold;
  border: 0;
  border-radius: 2px;
  height: 30px;
  padding-left: 28px;
  padding-right: 20px;
  font-size: 1.4rem;
  background-position: 15px center;
  background-size: 20px 20px;
  
}

#search-bar-container input::placeholder{
  color: #ddd;
  font-weight: bold;
}

#conversation-list-container{
  grid-area: conversation-list-container;
  overflow: auto;
  text-align: justify;
}

.conversation{
  display: grid;
  grid-template-columns: 40px 1fr max-content;
  grid-gap: 10px;
  color:#ddd;
  font-size: 1.3rem;
  border-bottom: 1px solid #ffc857;
  padding: 20px 20px 20px 15px;
  background-color: chocolate;
}

.conversation.active,
.conversation:hover{
background: purple;
} 

.conversation:hover{
  cursor: pointer;
}

.conversation>img{
  grid-row: span 2;
  height: 40px;
  width: 40px;
border-radius: 100%;

}
.title-text{
  font-size: bold;
  color: #eee;
  padding-left: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.message-convo{
  grid-column: span 2;;
  padding-left: 5px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.created-data{
color: #ddd;
font-size: 1.3rem;
}

#new-message-container{
  display: grid;
  grid: 40px / 40px;
  align-content: center;
  grid-area: new-message-container;
  border-top: 1px sollid rgba(0,0,0,0.25);
  border-radius: 0 0 0 10px;
  padding: 0 15px;
  
}
#new-message-container a{
  display: grid;
  place-content: center center;
  background: #eee;
  border-radius: 100%;
  color: chocolate;
  text-decoration: none;
  font-size: 3.6rem;
}

#chat-title-container,#chat-form-container{
  background: #eee;
 
}

#chat-title-container{
  display: grid;
  grid: 30px / 4fr 26px;
 align-content: center;
 align-items: center;
  grid-area: chat-title-container;
  color:#ffc857;
  font-weight: bolder;
  font-size: 2.0rem;
  border-radius: 0 10px 0 0;
  box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75) ;
  padding: 0 20px;
}
#chat-title-container > img{
  cursor: pointer;
}
#chat-title-container > i{
  cursor: pointer;
  
}
#chat-message-list{
  grid-area: chat-message-list;
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  text-align: justify;
}
.message-by-you,.message-by-other{
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 70%;
}
.message-by-you {
  justify-items: end;
  justify-content: end;
  margin-right: 20px;
}




.message-by-other{
  justify-items: start;
  margin-left: 10px;
}




.message-text{
padding: 9px 14px;
margin-bottom: 6px;
font-size: 1.6rem;
}

.message-by-you .message-text{
  background: brown;
  color: #eee;
  border: 1px solid brown;
  border-radius: 14px 14px 0 14px;
} 

.message-by-other .message-text{
  background: peachpuff;
  color: black;
  border: 1px solid burlywood;
  border-radius: 14px 14px 14px 0px;
}

.message-time{
  font-size: 1.3rem;
  color: #777;
}


#chat-form-container{
  display: grid;
  grid: 51px/32px 1fr;
  align-items: center;
  align-content: center;
  grid-gap: 15px;
  grid-area: chat-form-container;
  border-radius: 0 0 10px 0;
  border-top: 1px solid rgba(0,0,0,0.25);
  padding-left: 42px;
  padding-right: 22px;
}
#chat-form-container input{
  outline: none;
  padding: 15px;
  border: 2px solid #ddd;
  color: #333333;
  font-size: 1.4rem;
  border-radius: 6px;
  
}
.navigation ul{
  list-style-type: none;

  margin-right: 2rem;
  

}
.navigation ul li{
  float: left;
  margin-left: 10px;
  margin-right: 0px;
  
}
.avatar-xl,.btn,.btn-mode,.btn-power{
  /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
 background-color: #ffc857;
  /* make a square container */
  width: 70px;
  height: 70px;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: top center;

  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;
}
.navigation{

  background-color: #ddb65dff;
  
  box-shadow: 0 3px 3px -1px rgba(0,0,0,0.15);
  padding: -1rem;
  margin-top: 6rem;
  margin-left: 11rem;
width: 1000px;
width: fit-content;
border-top-left-radius: 12px;
border-bottom-left-radius: 12px;
  
 
  }
 
  /* .nav-tab{
    display: grid;
    grid-area: nav-tab;
  } */
 
 /* JAVASCRIPT CSS OF FILE ATTACH */

  .clip-upload i {
    margin: 0 8px;
  }
  
  .filename-container {
    margin: 20px 20px 0 0;
  }
  
  .filename {
    display: inline-block;
    padding: 0 10px;
    margin-right: 10px;
    background-color: #ccc;
    border: 1px solid black;
    border-radius: 15px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    font-family: 'verdana', sans-serif;
  }
  
  .hide {
    display: none;
  }
  /* JAVASCRIPT CSS OF FILE ATTACH END */