.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 672px}
.u-section-1 .u-list-1 {min-height: 592px; grid-template-columns: repeat(3, calc(33.3333% - 7px)); grid-template-rows: repeat(1, auto); grid-gap: 10px; margin: 40px auto 40px 0}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-image-1 {height: 318px; margin: 0 auto 0 0}
.u-section-1 .u-text-1 {text-transform: none; margin: 20px 0 0}
.u-section-1 .u-btn-1 {border-style: none; text-transform: uppercase; font-size: 0.875rem; background-image: none; font-weight: 700; letter-spacing: 1px; margin: 20px 88px 0 auto; padding: 10px 19px 10px 18px}
.u-section-1 .u-container-layout-2 {padding: 30px}
.u-section-1 .u-image-2 {height: 318px; margin: 0 auto 0 0}
.u-section-1 .u-text-2 {text-transform: none; margin: 20px 0 0}
.u-section-1 .u-btn-2 {border-style: none; text-transform: uppercase; font-size: 0.875rem; background-image: none; font-weight: 700; letter-spacing: 1px; margin: 20px 88px 0 auto; padding: 10px 19px 10px 18px}
.u-section-1 .u-container-layout-3 {padding: 30px}
.u-section-1 .u-image-3 {height: 318px; margin: 0 auto 0 0}
.u-section-1 .u-text-3 {text-transform: none; margin: 20px 0 0}
.u-section-1 .u-btn-3 {border-style: none; text-transform: uppercase; font-size: 0.875rem; background-image: none; font-weight: 700; letter-spacing: 1px; margin: 20px 88px 0 auto; padding: 10px 19px 10px 18px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 568px}
.u-section-1 .u-list-1 {min-height: 488px; grid-template-columns: repeat(3, calc(33.333333333333336% - 7px)); margin-right: initial; margin-left: initial}
.u-section-1 .u-image-1 {height: 252px; margin-right: initial; margin-left: initial}
.u-section-1 .u-btn-1 {margin-right: 0}
.u-section-1 .u-image-2 {height: 252px; margin-right: initial; margin-left: initial}
.u-section-1 .u-btn-2 {margin-right: 0}
.u-section-1 .u-image-3 {height: 252px; margin-right: initial; margin-left: initial}
.u-section-1 .u-btn-3 {margin-right: 0} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 1201px}
.u-section-1 .u-list-1 {min-height: 1121px; grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px)); margin-right: initial; margin-left: initial}
.u-section-1 .u-image-1 {height: 298px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-2 {height: 298px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-3 {height: 298px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 1054px}
.u-section-1 .u-list-1 {min-height: 974px; grid-template-columns: repeat(2, calc(((100% - 540px) / 2)  + 265px)); height: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-1 {height: 256px; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-2 {height: 256px; margin-right: initial; margin-left: initial}
.u-section-1 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-3 {height: 256px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-1 .u-list-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-1 {height: 318px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-2 {height: 318px; margin-right: initial; margin-left: initial}
.u-section-1 .u-image-3 {height: 318px; margin-right: initial; margin-left: initial} }