<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Bootstrap core CSS -->
    <link href="dist/css/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>

    <!-- Start of Navigation -->
    <div class="navigation">


        <ul>
            <li>
                <button class="btn"><img class="avatar-xl" src="assets/images/Webp.net-compress-image.jpg"
                        alt="Avatar"></button>
            </li>
            <!-- <br> -->
            <li>

                <a href="#members" data-toggle="tab"><i class="fa fa-user fa-5x" aria-hidden="true"
                        style="font-size:  6.5rem; color: black;margin-left:1rem;"></i></a>
            </li>
            <!-- <br> -->
            <li>

                <a href="#discussions" data-toggle="tab" class="active"><i class="fa fa-comment-o fa-5x"
                        aria-hidden="true" style="font-size:  6.5rem;color: black;"></i></a>
            </li>
            <!-- <br> -->

            <li>

                <a href="#notifications" data-toggle="tab" class="f-grow1"><i class="fa fa-bell" aria-hidden="true"
                        style="font-size:  6.5rem;color: black;"></i></a>
            </li>
            <!-- <br> -->

            <li>

                <button class="btn-mode"><i class="fa fa-moon-o" aria-hidden="true"
                        style="font-size: 40px;"></i></button>
            </li>
            <!-- <br> -->

            <li>

                <a href="#settings" data-toggle="tab"><i class="fa fa-wrench" aria-hidden="true"
                        style="font-size: 6.5rem;color: black;"></i></a>
            </li>

            <!-- <br> -->

            <li>

                <button class="btn-power" onclick="visitPage();"><i class="fa fa-power-off" aria-hidden="true"
                        style="font-size: 40px;"></i></button>
            </li>
        </ul>
    </div>

    <!-- end o navigation -->


    <div id="sapphirechat-container">
        <div id="search-bar-container">
            <input type="text" placeholder="&#xF002;Search" style="font-family:Arial, FontAwesome" />


        </div>
        <div id="conversation-list-container">
            <div class="conversation">
                <img src="assets/images/avatar-male-1.jpg" alt="Sanchit Garg" />
                <div class="title-text">
                    Sanchit Garg hfj ghhjgiygkjh kjgkjtgjgkj
                </div>

                <div class="created-data">
                    2 sep 2020
                </div>
                <div class="message-convo">
                    HI! How are you? ddfdgfdfg ghjfhjfjfhj nbfjhfjfjyytj hjfjh
                </div>
            </div>
            <div class="conversation">
                <img src="assets/images/avatar-male-1.jpg" alt="Sanchit Garg" />
                <div class="title-text">
                    Sanchit Garg hfj ghhjgiygkjh kjgkjtgjgkj
                </div>

                <div class="created-data">
                    2 days ago
                </div>
                <div class="message-convo">
                    HI! How are you? ddfdgfdfg ghjfhjfjfhj nbfjhfjfjyytj hjfjh
                </div>
            </div>
            <div class="conversation">
                <img src="assets/images/avatar-male-1.jpg" alt="Sanchit Garg" />
                <div class="title-text">
                    Sanchit Garg hfj ghhjgiygkjh kjgkjtgjgkj
                </div>

                <div class="created-data">
                    2 sep 2019
                </div>
                <div class="message-convo">
                    HI! How are you? ddfdgfdfg ghjfhjfjfhj nbfjhfjfjyytj hjfjh
                </div>
            </div>
            <div class="conversation">
                <img src="assets/images/avatar-male-1.jpg" alt="Sanchit Garg" />
                <div class="title-text">
                    Sanchit Garg hfj ghhjgiygkjh kjgkjtgjgkj
                </div>

                <div class="created-data">
                    2 sep 2019
                </div>
                <div class="message-convo">
                    HI! How are you? ddfdgfdfg ghjfhjfjfhj nbfjhfjfjyytj hjfjh
                </div>
            </div>
            <div class="conversation">
                <img src="assets/images/avatar-male-1.jpg" alt="Sanchit Garg" />
                <div class="title-text">
                    Sanchit Garg hfj ghhjgiygkjh kjgkjtgjgkj
                </div>

                <div class="created-data">
                    2 sep 2020
                </div>
                <div class="message-convo">
                    HI! How are you? ddfdgfdfg ghjfhjfjfhj nbfjhfjfjyytj hjfjh
                </div>
            </div>
            <div class="conversation">
                <img src="assets/images/avatar-male-1.jpg" alt="Sanchit Garg" />
                <div class="title-text">
                    Sanchit Garg hfj ghhjgiygkjh kjgkjtgjgkj
                </div>

                <div class="created-data">
                    2 sep 2020
                </div>
                <div class="message-convo">
                    HI! How are you? ddfdgfdfg ghjfhjfjfhj nbfjhfjfjyytj hjfjh
                </div>
            </div>
            <div class="conversation">
                <img src="assets/images/avatar-male-1.jpg" alt="Sanchit Garg" />
                <div class="title-text">
                    Sanchit Garg hfj ghhjgiygkjh kjgkjtgjgkj
                </div>

                <div class="created-data">
                    2 sep 2020
                </div>
                <div class="message-convo">
                    HI! How are you? ddfdgfdfg ghjfhjfjfhj nbfjhfjfjyytj hjfjh
                </div>
            </div>
            <div class="conversation">
                <img src="assets/images/avatar-male-1.jpg" alt="Sanchit Garg" />
                <div class="title-text">
                    Sanchit Garg hfj ghhjgiygkjh kjgkjtgjgkj
                </div>

                <div class="created-data">
                    2 sep 2020
                </div>
                <div class="message-convo">
                    HI! How are you? ddfdgfdfg ghjfhjfjfhj nbfjhfjfjyytj hjfjh
                </div>
            </div>
            <div class="conversation">
                <img src="assets/images/avatar-male-1.jpg" alt="Sanchit Garg" />
                <div class="title-text">
                    Sanchit Garg hfj ghhjgiygkjh kjgkjtgjgkj
                </div>

                <div class="created-data">
                    2 days ago
                </div>
                <div class="message-convo">
                    HI! How are you? ddfdgfdfg ghjfhjfjfhj nbfjhfjfjyytj hjfjh
                </div>
            </div>
        </div>
        <div id="new-message-container">
            <a href="#">+</a>
        </div>
        <div id="chat-title-container">
            <span>Sanchit Garg</span>
            <a href="https://unsplash.com/s/photos/video-conference">

                <img src="assets/images/icon/delete-1727486.svg" alt="delete-convo">

            </a>
            <span>
                <a href="https://unsplash.com/s/photos/video-conference">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </a>
                <!-- <a href="https://unsplash.com/s/photos/video-conference">
                    <i class="fa fa-paperclip" aria-hidden="true" style="margin-left: 20px;"></i>
                </a> -->
                <a href="https://unsplash.com/s/photos/video-conference">
                    <i class="fa fa-video-camera" aria-hidden="true" style="margin-left: 20px;"></i>
                </a>
            </span>
        </div>
        <div id="chat-message-list">

            <div class="message-by-you">
             

                    <div class="message-text">
                        hey!bro how r u?
                    </div>
                    <div class="message-timing">
                        14sep 3:24pm
                    </div>

            </div>
            <div class="message-by-you">
            
                   
                    <div class="message-text">
                        Flash Sale Tricks is happy to present the Auto-buy chrome extension with which you can order any
                        smartphone that is available for flash sale. For now, the Auto-buy extension is available for
                        Redmi Note 9 Pro Max, Redmi Note 9 Pro, Motorola One Fusion+, Realme Nazro 10A and Realme Smart
                        TV sale. We are working on other smartphones and smartphone related products. We would like to
                        hear your comments on how it works for you and any other valuable comment that could make this
                        process more user friendly.
                    </div>
                    <div class="message-timing">
                        14sep 3:25pm
                    </div>

            
            </div>

            <div class="message-by-other">
               


                    <div class="message-text">
                        i am fine dude wbu
                    </div>
                    <div class="message-timing">
                        14sep 3:30pm
                    </div>

                

            </div>

            <div class="message-by-other">
                
                   

                    <div class="message-text">
                        Click Add to Chrome.
                        A dialog will appear that tells you what kind of data will be accessed by the extension.
                        (FlashSaleTricks assures you 100% that we will not access any personal data)
                        Click Add to grant permission and add the extension to your browser.
                        You’ll see the icon icon16appear to the right of the address bar. To start using it, just click
                        the icon.
                    </div>
                    <div class="message-timing">
                        14sep 3:30pm
                    </div>


            </div>
            <div class="message-by-other">
                
                   

                    <div class="message-text">
                        Click Add to Chrome.
                        A dialog will appear that tells you what kind of data will be accessed by the extension.
                        (FlashSaleTricks assures you 100% that we will not access any personal data)
                        Click Add to grant permission and add the extension to your browser.
                        You’ll see the icon icon16appear to the right of the address bar. To start using it, just click
                        the icon.
                    </div>
                    <div class="message-timing">
                        14sep 3:30pm
                    </div>


            </div>
            <div class="message-by-you">
            
                   
                <div class="message-text">
                    Flash Sale Tricks is happy to present the Auto-buy chrome extension with which you can order any
                    smartphone that is available for flash sale. For now, the Auto-buy extension is available for
                    Redmi Note 9 Pro Max, Redmi Note 9 Pro, Motorola One Fusion+, Realme Nazro 10A and Realme Smart
                    TV sale. We are working on other smartphones and smartphone related products. We would like to
                    hear your comments on how it works for you and any other valuable comment that could make this
                    process more user friendly.
                </div>
                <div class="message-timing">
                    14sep 3:25pm
                </div>

        
        </div>
            <div class="message-by-you">
            
                   
                <div class="message-text">
                    Flash Sale Tricks is happy to present the Auto-buy chrome extension with which you can order any
                    smartphone that is available for flash sale. For now, the Auto-buy extension is available for
                    Redmi Note 9 Pro Max, Redmi Note 9 Pro, Motorola One Fusion+, Realme Nazro 10A and Realme Smart
                    TV sale. We are working on other smartphones and smartphone related products. We would like to
                    hear your comments on how it works for you and any other valuable comment that could make this
                    process more user friendly.
                </div>
                <div class="message-timing">
                    14sep 3:25pm
                </div>

        
        </div>
        <div class="message-by-other">
                
                   

            <div class="message-text">
                Click Add to Chrome.
                A dialog will appear that tells you what kind of data will be accessed by the extension.
                (FlashSaleTricks assures you 100% that we will not access any personal data)
                Click Add to grant permission and add the extension to your browser.
                You’ll see the icon icon16appear to the right of the address bar. To start using it, just click
                the icon.
            </div>
            <div class="message-timing">
                14sep 3:30pm
            </div>


    </div>

        </div>
        <div id="chat-form-container">

            <i class="fa fa-smile-o fa-5x" aria-hidden="true" style="font-size: 24px;"></i>
            <div class="clip-upload">

                <input type="text" placeholder="&#xF1D8;Send a message" style="font-family:Arial, FontAwesome">
                <label for="file-input">
                    <i class="fa fa-paperclip fa-lg" aria-hidden="true"></i>
                   </label> <i class="fa fa-play fa-lg"></i>
                   <input type="file" class="file-input hide" name="file-input" id="file-input">
                   <div class="filename-container hide"></div>
            </div>



        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>