<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <img src="https://raw.githubusercontent.com/kanzd/sappima/master/WhatsApp%20Image%202020-11-01%20at%207.00.08%20AM.jpeg" alt="" width="400px">
        
        <img src="https://raw.githubusercontent.com/kanzd/sappima/master/WhatsApp%20Image%202021-01-07%20at%202.08.39%20PM.jpeg" alt="" width="400px">
    </div>
</body>
</html>